<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Model.css" rel="stylesheet" type="text/css" />

    
    <title>ModelWhileWork</title>
</head>
<body>
    <h1>ModelWhileWork</h1>

    <div id="canvas" onload="">
        <div id="element1" class="rectangleGreen"></div>
        <div id="element2" class="rectangleRed" style="margin-left:50px;"></div>
        <div id="element3" class="rectangleYellow" style="margin-left:100px;"></div>
    </div> 

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jsPlumb-2.0.5.js"></script>

    <script src="~/Scripts/Model/TestScript.js"></script>
</body>
</html>