<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Model.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jsPlumb-2.0.5.js"></script>
    <script src="~/Scripts/Model/GetModel.js"></script>
    
    <script>
        //$(document).ready(function()
        //{
        //    $("selectionLabel").hide();
        //    $("selection").hide();
        //});   

        var fileName = "";
        var subject = ""

        function getFileName(canvasNr) {
            var tmpName = document.getElementById("file"+canvasNr);
            fileName = tmpName.value.replace(/^.*[\\\/]/, '');

            fillSelection(fileName, canvasNr);
        }

        function getSubject(canvasNr)
        {
            subject = $("#selection"+canvasNr+" option:selected").text();
            alert(subject + " : Do gehts weiter"+canvasNr);
        }
    </script>

    <script>
        function fillSelection(fileName, canvasNr) {
            if (fileName != "") {
                jQuery.ajax({
                    url: "http://localhost:53410/api/ProcessModel?modelName=" + fileName,
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    success: function (modelJSON) {
                        var selectElem = document.getElementById('selection'+canvasNr);

                        $.each(modelJSON, function (objIndex, object) {
                            var i = 0;

                            $.each(object, function (subjectFieldIndex, subjectField) {
                                var option = document.createElement("option");
                                console.log(subjectField.subjectNameField);
                                option.text = subjectField.subjectNameField;
                                option.value = subjectField.subjectNameField;
                                selectElem.options[i] = option;

                                i = i + 1;
                            });
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    },

                    timeout: 120000,
                });
            }
        }     
    </script>
    <title>ModelWhileWork</title>
</head>
<body>
    <div id="model1canvas">
        <input type="file" id="file1" onchange="getFileName(1)"/>
        <label id="selectionLabel1">Subjekt auswählen</label><select id="selection1" onchange="getSubject(1)"></select>
    </div>   
    <div id="model2canvas">
        <input type="file" id="file2" onchange="getFileName(2)" />
        <label id="selectionLabel2">Subjekt auswählen</label><select id="selection2" onchange="getSubject(2)"></select>
    </div>  
    <div id="model3canvas">
        <input type="file" id="file3" onchange="getFileName(3)" />
        <label id="selectionLabel3">Subjekt auswählen</label><select id="selection3" onchange="getSubject(3)"></select>
    </div>  
</body>
</html>