<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Model.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jsPlumb-2.0.5.js"></script>
    <script src="~/Scripts/Model/GetModel.js"></script>
    <script src="~/Scripts/Model/MergeModelSteps.js"></script>
    <script src="~/Scripts/Model/ModelExport.js"></script>
    <script src="~/Scripts/Model/FinalModel.js"></script>
    
    <script>
        var fileName = "";
        var subject = "";

        function getFileName(modelNr) {
            var tmpName = document.getElementById("file"+modelNr);
            fileName = tmpName.value.replace(/^.*[\\\/]/, '');

            if (fileName != "")
            {
                fillSelection(fileName, modelNr);
            }else
            {
                emptySelection(modelNr);
                var btn = document.getElementById("subjectMerge" + modelNr);
                btn.style.visibility = "hidden";
            }            
        }

        function getSubject(modelNr)
        {
            subject = $("#selection"+modelNr+" option:selected").text();
        }
    </script>

    <script>
        function fillSelection(fileName, modelNr) {
            if (fileName != "") {
                jQuery.ajax({
                    url: "http://localhost:53410/api/ProcessModel?modelName=" + fileName,
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    success: function (modelJSON) {
                        var selectElem = document.getElementById('selection' + modelNr);
                        $.each(modelJSON, function (objIndex, object) {
                            var i = 0;
                            $.each(object, function (subjectFieldIndex, subjectField) {
                                var option = document.createElement("option");
                                option.text = subjectField.subjectNameField;
                                option.value = subjectField.subjectNameField;
                                selectElem.options[i] = option;
                                i = i + 1;
                            });
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    },

                    timeout: 120000,
                });
            }
        }

        function emptySelection(modelNr)
        {
            var selectElem = document.getElementById('selection' + modelNr);
            var length = selectElem.options.length;

            for (i = 0; i < length; i++) {
                selectElem.options[i] = null;
            }
        }
    </script>
    
    <script>
        function btnLoadModel(modelNr)
        {
            getSubject(modelNr);
            getFileName(modelNr);
            init(fileName, selectedSubject, modelNr);

            var btn = document.getElementById("subjectMerge" + modelNr);
            btn.style.visibility = "visible";

            var btnEx = document.getElementById("exportModel" + modelNr);
            btnEx.style.visibility = "visible";
        }

        function btnSubject(modelNr)
        {
            subjectsDialog(modelNr);
        }

        function btnMergeSteps()
        {
            mergeModelSteps();
        }

        function btnFinalModel()
        {
            finalModel();
        }

        function btnInsertStep()
        {
            InsertStep();
        }

        function modelExport(modelNr)
        {
            var filename = getFileName(modelNr);
            exportModel(modelNr, filename);
        }
    </script>
    <title>ModelWhileWork</title>
</head>
<body>
    <br />
    @*<ul id="menu">
        <li><label>Model 1</label>
        <ul id="menuModel1">
            <li><label>Select Model</label></li>
            <li><label>Load Model</label></li>
            <li><label>Merge Subjects</label></li>
        </ul>
        </li>
        <li><label>Model 2</label></li>
    </ul>*@  

        <div id="canvas">             
                <div id="model1canvas">
                    <input type="file" id="file1" onchange="getFileName(1)" />
                    <label id="selectionLabel1">Subjekt auswählen</label><select id="selection1" onchange="getSubject(1)"></select>
                    <button id="loadModel1" onclick="btnLoadModel(1)">Modell laden</button>
                    <br />
                    <button id="subjectMerge1" onclick="btnSubject(1)" style="visibility:hidden">Subjektabgleich</button>
                    <br />
                    <button id="exportModel1" onclick="modelExport(1)" style="visibility:hidden">Export Model</button>
                </div>
                         
                <div id="model2canvas">
                    <input type="file" id="file2" onchange="getFileName(2)" />
                    <label id="selectionLabel2">Subjekt auswählen</label><select id="selection2" onchange="getSubject(2)"></select>
                    <button id="loadModel2" onclick="btnLoadModel(2)">Modell laden</button>
                    <br />
                    <button id="subjectMerge2" onclick="btnSubject(2)" style="visibility:hidden">Subjektabgleich</button>
                    <br />
                    <button id="exportModel2" onclick="modelExport(2)" style="visibility:hidden">Export Model</button>
                </div>
                           
                <div id="model3canvas">
                    <input type="button" id="mergeSteps" onclick="btnMergeSteps()" value="MergeSteps" />
                    <input type="button" id="mergeSteps" onclick="btnFinalModel()" value="Copy checked Elements" />
                    <input type="button" id="mergeSteps" onclick="btnInsertStep()" value="Insert Step" />
                </div>

            <dialog id="subjectsDialog1" class="myDialog">
                <h4 id="sbjDiaH31"></h4>
                <span style="font-style:italic">Vergeben Sie für Subjekte die die gleiche Person darstellen die gleiche Nummer</span>
                <br />
                <br />
                <div id="shjDiaSubjects1"></div>
                <br />
                <button id="sbjDiaOK1">OK</button>
                <button id="sbjDiaCancel1">Cancel</button>
            </dialog>
            <dialog id="subjectsDialog2" class="myDialog">
                <h4 id="sbjDiaH32"></h4>
                <span style="font-style:italic">Vergeben Sie für Subjekte die die gleiche Person darstellen die gleiche Nummer</span>
                <br />
                <br />
                <div id="shjDiaSubjects2"></div>
                <br />
                <button id="sbjDiaOK2">OK</button>
                <button id="sbjDiaCancel2">Cancel</button>
            </dialog>
            <dialog id="mergeDialog" class="myDialog">
                <h4>Wählen Sie eine Merge-Option</h4>
                <br />
                    <input type="radio" name="mergeOption" value="1" checked="true">Auswahl aus Model 1 übernehmen</input>
                    <br />
                    <input type="radio" name="mergeOption" value="2">Auswahl aus Model 2 übernehmen</input>
                    <br />
                    <input type="radio" name="mergeOption" value="3">Auswahl zu einem Element zusammenführen</input>
                    <br />
                    <div id="mDiaOpt" style="visibility:hidden">
                        <img id="imgTask" src="~/images/task.JPG"/> <input type="radio" name="mergeOptionTask" checked="true" value="1"/>
                        <br />
                        <img id="imgRecieve" src="~/images/recieve.JPG" /> <input type="radio" name="mergeOptionTask" value="2" />
                        <br />
                        <img id="imgSend" src="~/images/send.JPG" /> <input type="radio" name="mergeOptionTask" value="3" />
                    </div>
                <br />
                <button id="mDiaOK">OK</button>
                <button id="mDiaCancel">Cancel</button>
            </dialog>
            <dialog id="newStepDialog" class="myDialog">
                <h4>Wählen Sie ein neues Element aus</h4>
                <br />
                    <div id="newStepOpt">
                        <img id="imgTask2" src="~/images/task.JPG" /> <input type="radio" name="newStepTask" checked="true" value="1" />
                        <br />
                        <img id="imgRecieve2" src="~/images/recieve.JPG" /> <input type="radio" name="newStepTask" value="2" />
                        <br />
                        <img id="imgSend2" src="~/images/send.JPG" /> <input type="radio" name="newStepTask" value="3" />
                    </div>
                <br />
                <button id="newStepDiaOK">OK</button>
                <button id="newStepDiaCancel">Cancel</button>
            </dialog>
        </div>
</body>
</html>