<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Model.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jsPlumb-2.0.5.js"></script>
    <script src="~/Scripts/Model/GetModel.js"></script>
    <script src="~/Scripts/Model/MergeModelSteps.js"></script>
    <script src="~/Scripts/Model/ModelExport.js"></script>
    <script src="~/Scripts/Model/FinalModel.js"></script>
    <script>
        var url = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
        var urlModelName = url + "?modelName=";
        var offsetConnection = '@System.Configuration.ConfigurationManager.AppSettings["offsetConnection"]';
        var offsetElement = '@System.Configuration.ConfigurationManager.AppSettings["offsetElement"]';
        var divide = '@System.Configuration.ConfigurationManager.AppSettings["divide"]';
    </script>

    <script>
        
        var fileName = "";
        var subject = "";

        //gets the fileName of selected model
        function getFileName(modelNr) {
            var tmpName = document.getElementById("file"+modelNr);
            fileName = tmpName.value.replace(/^.*[\\\/]/, '');

            if (fileName != "")
            {
                fillSelection(fileName, modelNr);
            }else
            {
                emptySelection(modelNr);
                var btn = document.getElementById("subjectMerge" + modelNr);
                btn.style.visibility = "hidden";
            }            
        }

        //get the selected subject from selection
        function getSubject(modelNr)
        {
            subject = $("#selection"+modelNr+" option:selected").text();
        }

        //fill selection options for modelNr
        function fillSelection(fileName, modelNr) {
            if (fileName != "") {
                jQuery.ajax({
                    url: urlModelName + fileName,
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    success: function (modelJSON) {
                        var selectElem = document.getElementById('selection' + modelNr);
                        $.each(modelJSON, function (objIndex, object) {
                            var i = 0;
                            $.each(object, function (subjectFieldIndex, subjectField) {
                                var option = document.createElement("option");
                                option.text = subjectField.subjectNameField;
                                option.value = subjectField.subjectNameField;
                                selectElem.options[i] = option;
                                i = i + 1;
                            });
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    },

                    timeout: 120000,
                });
            }
        }

        //emtpy selection options for modelNr
        function emptySelection(modelNr)
        {
            var selectElem = document.getElementById('selection' + modelNr);
            var length = selectElem.options.length;

            for (i = 0; i < length; i++) {
                selectElem.options[i] = null;
            }
        }

        //get the model from server and paint it
        function btnLoadModel(modelNr)
        {
            getSubject(modelNr);
            getFileName(modelNr);
            init(urlModelName, fileName, selectedSubject, modelNr, offsetElement, offsetConnection, divide);

            var btn = document.getElementById("subjectMerge" + modelNr);
            btn.style.visibility = "visible";

            var btnEx = document.getElementById("exportModel" + modelNr);
            btnEx.style.visibility = "visible";
        }

        //show subject dialog
        function btnSubject(modelNr)
        {
            subjectsDialog(modelNr);
        }

        //call merge steps function
        function btnMergeSteps()
        {
            mergeModelSteps();
        }


        function btnFinalModel()
        {
            finalModel();
        }

        //call insert step function
        function btnInsertStep()
        {
            InsertStep();
        }

        //call export model function
        function modelExport(modelNr)
        {
            if (modelNr == 3)
            {
                fileName = getFileName(1);
            }
            else
            {
                fileName = getFileName(modelNr);
            }

            var newFileName = prompt("Geben Sie bitte einen Dateiname ein", fileName);
            exportModel(url, modelNr, newFileName);
        }
    </script>
    <title>ModelWhileWork</title>
</head>
<body>
    <br />
        <div id="canvas">             
                <div id="model1canvas">
                    <input type="file" id="file1" onchange="getFileName(1)" />
                    <label id="selectionLabel1">Subjekt auswählen</label><select id="selection1" onchange="getSubject(1)"></select>
                    <button id="loadModel1" onclick="btnLoadModel(1)">Load Model</button>
                    <br />
                    <button id="subjectMerge1" onclick="btnSubject(1)" style="visibility:hidden">Merge Subjects</button>
                    <br />
                    <button id="exportModel1" onclick="modelExport(1)" style="visibility:hidden">Export Model</button>
                </div>
                         
                <div id="model2canvas">
                    <input type="file" id="file2" onchange="getFileName(2)" />
                    <label id="selectionLabel2">Subjekt auswählen</label><select id="selection2" onchange="getSubject(2)"></select>
                    <button id="loadModel2" onclick="btnLoadModel(2)">Load Model</button>
                    <br />
                    <button id="subjectMerge2" onclick="btnSubject(2)" style="visibility:hidden">Merge Subjects</button>
                    <br />
                    <button id="exportModel2" onclick="modelExport(2)" style="visibility:hidden">Export Model</button>
                </div>
                           
                <div id="model3canvas">
                    <input type="button" id="mergeSteps" onclick="btnMergeSteps()" value="Merge Steps Options" />
                    <input type="button" id="mergeSteps" onclick="btnFinalModel()" value="Copy checked Elements" />
                    <input type="button" id="mergeSteps" onclick="btnInsertStep()" value="Insert Step" />
                    <button id="exportModel3" onclick="modelExport(3)" style="visibility:hidden">Export Model</button>
                </div>

            <dialog id="subjectsDialog1" class="myDialog">
                <h4 id="sbjDiaH31"></h4>
                <span style="font-style:italic">Assign the same number to subjects who represent the same person</span>
                <br />
                <br />
                <div id="shjDiaSubjects1"></div>
                <br />
                <button id="sbjDiaOK1">OK</button>
                <button id="sbjDiaCancel1">Cancel</button>
            </dialog>
            <dialog id="subjectsDialog2" class="myDialog">
                <h4 id="sbjDiaH32"></h4>
                <span style="font-style:italic">Assign the same number to subjects who represent the same person</span>
                <br />
                <br />
                <div id="shjDiaSubjects2"></div>
                <br />
                <button id="sbjDiaOK2">OK</button>
                <button id="sbjDiaCancel2">Cancel</button>
            </dialog>
            <dialog id="mergeDialog" class="myDialog">
                <h4>Wählen Sie eine Merge-Option</h4>
                <br />
                    <input type="radio" name="mergeOption" value="1" checked="true">apply selection from model 1</input>
                    <br />
                    <input type="radio" name="mergeOption" value="2">apply selection from model 2</input>
                    <br />
                    <input type="radio" name="mergeOption" value="3">change task typ / rename task</input>
                    <br />
                    <div id="mDiaOpt" style="visibility:hidden">
                        <img id="imgTask" src="~/images/task.JPG"/> <input type="radio" name="mergeOptionTask" checked="true" value="1"/>
                        <br />
                        <img id="imgRecieve" src="~/images/recieve.JPG" /> <input type="radio" name="mergeOptionTask" value="2" />
                        <br />
                        <img id="imgSend" src="~/images/send.JPG" /> <input type="radio" name="mergeOptionTask" value="3" />
                    </div>
                <br />
                <button id="mDiaOK">OK</button>
                <button id="mDiaCancel">Cancel</button>
            </dialog>
            <dialog id="newStepDialog" class="myDialog">
                <h4>Wählen Sie ein neues Element aus</h4>
                <br />
                    <div id="newStepOpt">
                        <img id="imgTask2" src="~/images/task.JPG" /> <input type="radio" name="newStepTask" checked="true" value="1" />
                        <br />
                        <img id="imgRecieve2" src="~/images/recieve.JPG" /> <input type="radio" name="newStepTask" value="2" />
                        <br />
                        <img id="imgSend2" src="~/images/send.JPG" /> <input type="radio" name="newStepTask" value="3" />
                    </div>
                <br />
                <button id="newStepDiaOK">OK</button>
                <button id="newStepDiaCancel">Cancel</button>
            </dialog>
        </div>
</body>
</html>