<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Model.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jsPlumb-2.0.5.js"></script>
    <script src="~/Scripts/Model/GetModel.js"></script>
    
    <script>
        var fileName = "";
        var subject = "";

        function getFileName(canvasNr) {
            var tmpName = document.getElementById("file"+canvasNr);
            fileName = tmpName.value.replace(/^.*[\\\/]/, '');

            if (fileName != "")
            {
                fillSelection(fileName, canvasNr);
            }else
            {
                emptySelection(canvasNr);
                var btn = document.getElementById("subjectMerge" + canvasNr);
                btn.style.visibility = "hidden";
            }            
        }

        function getSubject(canvasNr)
        {
            subject = $("#selection"+canvasNr+" option:selected").text();
        }
    </script>

    <script>
        function fillSelection(fileName, canvasNr) {
            if (fileName != "") {
                jQuery.ajax({
                    url: "http://localhost:53410/api/ProcessModel?modelName=" + fileName,
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    success: function (modelJSON) {
                        var selectElem = document.getElementById('selection' + canvasNr);
                        $.each(modelJSON, function (objIndex, object) {
                            var i = 0;
                            $.each(object, function (subjectFieldIndex, subjectField) {
                                var option = document.createElement("option");
                                option.text = subjectField.subjectNameField;
                                option.value = subjectField.subjectNameField;
                                selectElem.options[i] = option;
                                i = i + 1;
                            });
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    },

                    timeout: 120000,
                });
            }
        }

        function emptySelection(canvasNr)
        {
            var selectElem = document.getElementById('selection' + canvasNr);
            var length = selectElem.options.length;

            for (i = 0; i < length; i++) {
                selectElem.options[i] = null;
            }
        }
    </script>
    
    <script>
        function btnLoadModel(canvasNr)
        {
            getSubject(canvasNr);
            deleteElements(canvasNr);
            init(fileName, selectedSubject, canvasNr);

            var btn = document.getElementById("subjectMerge" + canvasNr);
            btn.style.visibility = "visible";
        }
    </script>
    <script>
        function btnSubject(canvasNr)
        {
            subjectsDialog(canvasNr);
        }
    </script>
    <title>ModelWhileWork</title>
</head>
<body>
        <div id="canvas">
            <div id="model1canvas">
                <input type="file" id="file1" onchange="getFileName(1)" />
                <label id="selectionLabel1">Subjekt auswählen</label><select id="selection1" onchange="getSubject(1)"></select>
                <button id="loadModel1" onclick="btnLoadModel(1)">Modell laden</button>
                <br />
                <button id="subjectMerge1" onclick="btnSubject(1)" style="visibility:hidden">Subjektabgleich</button>
                <br />
            </div>
            <div id="model2canvas">
                <input type="file" id="file2" onchange="getFileName(2)" />
                <label id="selectionLabel2">Subjekt auswählen</label><select id="selection2" onchange="getSubject(2)"></select>
                <button id="loadModel2" onclick="btnLoadModel(2)">Modell laden</button>
                <br />
                <button id="subjectMerge2" onclick="btnSubject(2)" style="visibility:hidden">Subjektabgleich</button>
                <br />
            </div>
            <div id="model3canvas">
            </div>

            <dialog id="subjectsDialog" class="subjectsDialog">
                <h4 id="sbjDiaH3"></h4>
                <span style="font-style:italic">Vergeben Sie für Subjekte die die gleiche Person darstellen die gleiche Nummer</span>
                <br /><br />
                <div id="shjDiaSubjects"></div>
                <br />
                <button id="sbjDiaOK">OK</button>
                <button id="sbjDiaCancel">Cancel</button>
            </dialog>
        </div>
</body>
</html>