<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Model.css" rel="stylesheet" type="text/css" />
       
    <title>ModelWhileWork</title>
</head>
<body>
    <div id="canvas"></div>
    

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jsPlumb-2.0.5.js"></script>

    <script src="~/Scripts/Model/GetModel.js"></script>
    <script src="~/Scripts/Model/TestScript.js"></script>
</body>
</html>