/*#canvas {
        padding: 20px;
        width: 80%;
        height: 300px;
        border: 1px solid gray;
        position: relative;
    }

.item {
    height: 80px;
    width: 80px;
    float: none;
    position: relative;
    border: 1px solid black;
}

.window { z-index:20; }
.jsplumb-connector { z-index:4; }
.jsplumb-endpoint { z-index:5; }
.jsplumb-overlay { z-index:6; }

.jsplumb-drag-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}*/

.myLine path{
    stroke:black;
}

.myRect circle{
    stroke: aquamarine;
}

.extraSpan {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:white;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.nameSpan {
    display: inline;
    position:relative;
    float:none;
    font-weight: bold;
}

.recipientSpan{
    display: inline;
    position:relative;
    float:none;
}

.recipientSpan:before{
    content:"\a\a";
    white-space: pre;
}

.senderSpan{
    display: inline;
    position:relative;
    float:none;   
}

.senderSpan:before{
    content:"\a\a";
    white-space: pre;
}

#modle1canvas {
  height: 800px;
  position:relative;
}

#modle2canvas {
  height: 800px;
  position:relative;
}

#modle3canvas {
  height: 800px;
  position:relative;
}

.canvas .task { 
    padding:16px;
	position:relative;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	/*opacity:0.8;
	filter:alpha(opacity=80);*/
	cursor:move;
	background-color:yellow;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
    width: 200px;
    height: 100px;
}

.canvas .recieve { 
    padding:16px;
	position:relative;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	cursor:move;
	background-color:green;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
    width: 200px;
    height: 100px;
}

.canvas .send { 
    padding:16px;
	position:relative;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	cursor:move;
	background-color:red;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
    width: 200px;
    height: 100px;
}