

.myLine path{
    stroke:black;
}

.myRect circle{
    stroke: aquamarine;
}

.chkBox1 {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:white;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.chkBox2 {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:white;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.nameSpan {
    display: inline;
    position:relative;
    float:none;
    font-weight: bold;
}

.recipientSpan{
    display: inline;
    position:relative;
    float:none;
}

.recipientSpan:before{
    content:"\a\a";
    white-space: pre;
}

.senderSpan{
    display: inline;
    position:relative;
    float:none;   
}

.senderSpan:before{
    content:"\a\a";
    white-space: pre;
}

#model1canvas {
  height: 3000px;
  width: 33%;
  position:relative;
  float:left;
  border-left-style: dotted;
}

#model2canvas {
  height: 3000px;
  width: 33%;
  position:relative;
  float:left;
  border-right-style: dotted;
  border-left-style: dotted;
}

#model3canvas {
  height: 3000px;
  width: 33%;
  position:relative;
  float:right;
  border-right-style: dotted;
}

.dialogText{
    display:block;
    float: left;
}

.dialogSelect{
    display:block;
    float: right;
}

.myDialog{
    width: 300px;
    z-index: 1;
}

.myDialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.canvas .task { 
    padding:16px;
	position:relative;
	border: 1px solid black;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	cursor:move;
	background-color:yellow;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.canvas .recieve { 
    padding:16px;
	position:relative;
	border: 1px solid black;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	cursor:move;
	background-color:green;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.canvas .send { 
    padding:16px;
	position:relative;
	border: 1px solid black;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	cursor:move;
	background-color:red;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li label {
    background-color: darkgray;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li label:hover {
    background-color: orange;
}